
<!DOCTYPE html>
<html>
    <head>
        <title>Jetlinks</title>    
        <link rel="icon" href="imgs/letter-j.png">                                                                                              
        <link rel="stylesheet" href="css/homeStyle.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
        <meta charset="UTF-8">   
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!--Scaling for proper render-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!--Link for icons-->
    </head>
    <body>


    <!--Navigation bar-->
        <nav>
            <div class="logo">
                <h2><a href="/">jetLinks</a></h2>
            </div>
        <ul>
        <li><a href="/JobFind">Find Jobs</a></li>
        <li><a href="/Postjobs">Post Jobs</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Register</a></li>
        </ul>
           
    </nav>
    <!--Navigation bar end-->



    <!--Front Page content-->
        <div class="front">
            <div class="quote">
                <h3>Countless Opportunities, One Place.</h3>
            </div>
    <!--Adding interactive buttons-->
            <div class="big-buttons">
            <a href="/JobFind"><button class="button jobButton"><p>Looking for jobs?<br>Explore what recruiters in your area have to offer.</p><img src="imgs/job.png" class="postImg"></button></a>
            <a href="/Postjobs"><button class="button postButton"><p>Searching for talents in hiring season?<br>Post a job notice in less than 5 minutes!</p><img src="imgs/inter.png" class="postImg"></button></a>
            </div>  
    <!--Extra information-->        
            <div class="numBar">
            <ul>
                <li><h3>10,000<br><p>Businusses Sponsored</p></h3></li>
                <li><h3>150,000<br><p>User Base</p></h3></li>
                <li><h3>50,000<br><p>Postings Per Day</p></h3></li>
            </ul>
            <br>
            </div>
    <!--Interactive boxes with info-->
            <div class="container">
                <div class="inspire">    
                        <img src="imgs/man-in-suit-and-tie.png"><h3>You're an asset to us</h3><p>We stay committed to send you the best offers that match your profile. All you have to do is pick!</p>
                </div>
                <div class="inspire"> 
                        <img src="imgs/notes.png"><h3>Change with the game</h3><p>Connect with employers/recruits fast and efficiently. Online job hunting/hiring is the new 21st Century norm!</p>
                </div>
                <div class="inspire">
                        <img src="imgs/small-building.png"><h3>Find your comfort job</h3><p>Explore the vast variety of workforce, survey and compare salaries, benfits, work environments and more!</p>
                </div>
            </div>

        </div>  



    <!--Footer start-->
        <div class="footer">
            <div class="branding">
                <img src="imgs/letter-j.png" href="/"> <div class="logo"><h2><a href="/">jetLinks</a></h2></div>
            </div>
            <div class="content-links">
                <ul>
                    <li><a href="/JobFind">Find Jobs</a></li>
                    <li><a href="/Postjobs">Post Jobs</a></li>
                    <li><a href="/logIN">Login</a></li>
                    <li><a href="/signup">Register</a></li>
                </ul>
            </div>
            <div class="socials">
                <ul>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
            </div>
        
        </div>  
        <div class="end-footer">
            Copyright &copy; Web Programming Final Project. All rights Reserved
        </div>
    <!--Footer end-->
</body>
</html>