<!--COMPLETE ALL LINKS -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>Verification</title>
    <link rel="icon" href="imgs/letter-j.png">     
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/homeStyle.css">                                                                                             
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
        <meta charset="UTF-8">   
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav>
        <div class="logo">
            <h2><a href="/regHome">jetLinks</a></h2>
        </div>
    <ul>
    <li><a href="/JobFind">Find Jobs</a></li>
    <li><a href="/Postjobs">Post Jobs</a></li>
    <li><a href="/">Log Out</a></li>
    </ul>
    
    <div class="list-icon">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    </nav>
    <div class="container">
        <form action="/verify" method="POST" class="form" id="verify">
            <h2 class="form-title">Verification</h2>
            <br>
            <p>Enter your Email to access profile details</p>
            <br>
            <!--<div class="form_message form_message-error">Incorrect username/email or password.</div>-->
            <div class="form_input-group">
                <input type="text" class="form_input" autofocus required name="email" placeholder="Email">
                <!--<div class="form_input-error-message">error message</div>-->
            </div>
            <br>
            <br>
            <button class="form_button">Submit</button>
            <br>
            <br>
        </form>
    </div>
        <div class="footer">
            <div class="branding">
                <img src="imgs/letter-j.png" href="/regHome"> <div class="logo"><h2><a href="/regHome">jetLinks</a></h2></div>
            </div>
            <div class="content-links">
                <ul>
                    <li><a href="/JobFind">Find Jobs</a></li>
                    <li><a href="/Postjobs">Post Jobs</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Register</a></li>
                </ul>s
            </div>
            <div class="socials">
                <ul>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
            </div>
        
        </div>  
        <div class="end-footer">
            Copyright &copy; Web Programming Final Project. All rights Reserved
        </div>
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        </body>
        
        </html>
</body>
</html>
